    ---
    const year = new Date().getFullYear();
    ---

    <footer class="py-xl px-md border-t border-outline-variant bg-surface">
            <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-xl">
                <div class="flex items-center gap-2">
                    <a class="text-2xl font-black text-[#e60023] tracking-tighter" href="/"><img src="/logo.svg" alt="Typpy Logo" width="140""></a>
                </div>
                <div class="text-on-surface-variant text-caption">
                    &copy; {year} Typpy Inc. Typing games for brain.
                </div>
                <div class="flex gap-lg">
                    <!-- <a href="#" class="material-symbols-outlined text-on-surface-variant hover:text-brand-red transition-colors">share</a>
                    <a href="#" class="material-symbols-outlined text-on-surface-variant hover:text-brand-red transition-colors">code</a> -->
                    <a href="#" class="material-symbols-outlined text-on-surface-variant hover:text-brand-red transition-colors">help</a>
                </div>
            </div>
        </footer>